{% extends "base.html" %} 
{% load staticfiles %} 

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Export Data for a Company</h2>
        </div>    

        <div class="card-body card-padding" style="min-height: 360px;">
            <form action="/get_data/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Company ID</label>
                    <div class="col-sm-4">
                        <div class="form-group" style="margin-top: -8px;">
                            <div class="fg-line">
                                <div class="select">
                                    <select class="form-control" name="company_id">
                                    {% for item in company_ids %}
                                        <option value="{{ item }}">{{ item }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary btn-sm">Download Data</button>
                    </div>
                </div>                  
            </form>
        </div>

    </div>
</div>
{% endblock %} 
